<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MainSuite">
    <test name="test">

        <parameter name="search" value="Cats"/>

        <classes>
            <class name="com.testmatick.SearchTest"/>
        </classes>
    </test>
</suite>